body {
    height: 300em;
    background-image: url(bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

.navbar {
    transition: all 0.5s;
}
.navbar-scrolled {
    background-color: black;
}
